/* https://coolors.co/404e5c-4f6272-f9f8f8-f2a900-d00000 */
/* 
Red: #D00000
Orange: #F2A900
White: #F9F8F8
Dark-coral: #4F6272
Charcoal: #404E5C
*/

.chat-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid white;
    background: rgb(220,173,23);
    background-color: #f2a900;
    background-image: linear-gradient(135deg, #f2a900 0%, #FF6A88 86%, #FF99AC 100%);
    border-radius: 10px;
    margin: 1%;
    padding-left: 1%;
    padding-right: 1%;
    max-width: 60%;
    opacity: 0.9;
    display: inline-block;
    word-wrap: break-word;
}
 /* User chat messeages */


.chat-message-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: flex-end;
    border: 2px solid white;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80d0c7 100%);
    border-radius: 10px;
    margin: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    max-width: 60%;
    opacity: 0.9;
    display: inline-block;
    word-wrap: break-word;
}

.infinite-scroll-component::-webkit-scrollbar {
    width: 0.5em;
}

.infinite-scroll-component::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.infinite-scroll-component::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}